/*Personalização geral e body*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('images/background-glitch.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.inicio, .perfil, .trabalhos, .depoimentos {
    background-color: rgba(247, 248, 236, 0.678);
}
.inicio, .perfil, .trabalhos, .depoimentos, .contato {
    padding: 3%;
    width: 90%;
    margin: auto;

/*Edição de títulos e textp de forma geral*/
}
.titulo-h3 {
    color:rgb(22, 43, 66);
    margin-bottom: 1%;
}
.titulo-h4 {
    color:rgb(43, 94, 13);
}
/*Header levando aos itens da pagina*/
.cabecalho{
    background-color: rgb(36, 57, 110);
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    padding: 1%;
}
#cabeçalho-nav {
    flex-direction: row;
}
#cabecalho-nav > a {
    color:white;
    font-size: 20px;
    text-decoration: none;
}

/*Estilização do ínicio, contendo foto e apresentação da developer*/
.inicio {
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
#maria-img {
    width: 30%;
    position: absolute;
    left: 12%;
    padding-top: 11%;
}
#inicio-texto {
    display: flex;
    flex-direction: column;
    position: relative;
}
#inicio-texto > img {
    width: 90%;
    padding-left: 10%;
}
#inicio-texto > h2 {
    color:rgb(36,57,110);
    font-size: 20px;
}
#inicio-desc {
    font-size: 14px;
    margin-bottom: 10px;
}
#inicio-texto > h2, #inicio-desc {
    padding-left: 42%;
    width: 90%;
}
/*Personalização dos ícones no iníciio*/
.icones-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    padding-right: 10%;
}
.icone-redes {
    width: 50%;
    height: auto;
    margin-left: 1%;
}

/*Seção perfil ou currículo*/
.perfil {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    margin-bottom: 20px; /* Adiciona 20 pixels de espaço abaixo de cada lista */
}
li {
    list-style: none;
}

/*Seção portfólio, com imagens e links de trabalhos*/


/*Depoimentos de ex-clientes, por exemplo*/
.depoimentos {
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

/*Contato, com formulário*/
.contato {
    background-color: rgb(79, 87, 192);
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    border-radius: 5%;
}

.contato-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Rodapé do site*
/